{% extends 'budget_app/base.html' %}
{% block title %}Home{% endblock %}
{% load static  %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="left_title_col">
                <div class="text_left_title_col">
                    Your wallets.&nbsp;            
                {% if user.is_authenticated  %}
                    <a class="btn btn-outline-success" href="/logout/">Logout</a>
                {% endif  %}
                </div>
            </div>
            <div id="wallet_row_wrapper">
                <div id="wallet_row">

                </div>
            </div>
            <div class="add_new_wallet ">
                <form id="wallet_form">
                    <div class="wallet_text">
                        Need new wallet?
                    </div>
					<div class="row "> 
                        {% csrf_token %}
						<div class="col-sm-6 col-md-6"> {{form_wallet.name}} </div>
						<div class="col-sm-6 col-md-4">
                            <button type="submit" class="btn btn-outline-primary" id="send_form">Create</button>
                        </div>
					</div>
				</form>

            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="main_right_container">
                <div class="dynamic_content_wrapper">
                    <div id="dynamic_content">

                    </div>
                </div>
                <div class="budget_entry_form">
                    <div class="budget_form_title">
                        Add new entry and track <span class="color_marker">your</span> money<span class="color_marker">.</span>
                    </div>
                    <form id="budget_form">
                        {% csrf_token %}
                        <div class="row budget_form_spacer">
                            <div class="col-6">
                                {{  form_budget.title }}
                            </div>
                            <div class="col-6">
                                {{  form_budget.amount }}
                            </div>
                        </div>
                        <div class="row budget_form_spacer">
                            <div class="col-12">
                                {{  form_budget.description }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="entry_category">Category</label>
                                {{  form_budget.entry_category }}
                            </div>
                            <div class="col-6">
                                <label for="entry_type">Type</label>
                                {{  form_budget.entry_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                {{form_budget.wallet_entry_id}}
                            </div>
                            <div class="col-4 d-flex justify-content-center align-content-center">
                                <button type="submit" class="btn btn-outline-primary" id="send_budget">Add</button>
                            </div>
                            <div class="col-4">
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'budget_app/js/main.js' %}"></script>
<script>runWallet('/api/wallet/','/api/entry/')</script>
<script>

</script>

{% endblock %}