*{
    font-family: 'Montserrat', sans-serif;
}
.text_left_title_col,.info_wallet_title{
    font-size:30px;
    margin:4vh 0 2vh 0;
    font-weight:bold;
    color:rgba(72, 0, 85, 0.635);
    text-transform:capitalize;
}
#wallet_row_wrapper{
    height:75vh;
    overflow:auto;
}
.wallet_text{
    font-size:20px;
    margin:2vh 0 0.3vh 0;
    color:rgb(0, 0, 0);
}
.logout_cont{
    margin-top:3vh;
}
.row_wallet_instance{
    width:90%;
    border-bottom: 1px solid rgba(197, 197, 197, 0.561);
    cursor:pointer;
    margin-bottom: 1.4vh;
}
.wallet_instance_num{
    font-size:20px;
    font-weight:bold;
    color:rgba(33, 33, 33, 0.835);
}
.wallet_instance_dot{
    font-size:20px;
    font-weight:bold;
    color:rgb(149, 0, 175);
    padding-right: 10px;
    padding-left: 5px 
}
.wallet_instance_txt{
    text-transform: capitalize;
    font-size:18px;
    font-weight: 400;
}
.wallet_instance_uuid{
    font-size:14px;
    color:black;
}
.main_right_container{
    max-height:100vh;
    width:100%;
}
.info_instance_div:nth-of-type(n+2){
    display:none;
}
.dynamic_content_wrapper{
    overflow:auto;
    height:54vh;
    width:96%;
    margin-left:2%;
    margin-top:2vh;
    margin-bottom:7vh;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
}
.budget_entry_form{
    height:33vh;
    width:96%;
    margin-left:2%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 50px -28px rgba(66, 68, 90, 1);
}
#budget_form{
    width:96%;
    margin-left:2% 
}
.budget_form_spacer{
    margin-bottom: 20px;
}
.budget_form_title{
    font-size: 20px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.813);
    text-align: center;
    padding:20px 0 15px 0;
}
.color_marker, th{
    color:rgba(72, 0, 85, 0.635);
}
select {
    text-transform: capitalize;
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343739;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#send_budget{
    margin-top: 2vh;
}
.info_wallet_title{
    margin:2vh 0 0 0;
}
.info_instance_div{
    width:96%;
    margin-left:2%;
}
.info_wallet_id,.info_wallet_date,.info_wallet_shared{
    opacity:0.9;
    font-size:14px;
}
.info_wallet_entry{
    margin-top:2vh;
}
thead, th, tr{
    border-color: black;
}
.table-hover> tbody> tr{
    transition: 0.2s 
}
.table-hover> tbody> tr:hover{
    background-color:rgba(217, 0, 255, 0.02) !important;
}
td{
    text-transform: capitalize;
}
.info_wallet_pos{
    margin-top:3vh;
}
.landingBudget{
    font-size:45px;
}
.no_data{
    text-align:center;
    font-size:20px;
}
.no_data_info{
    transform: rotate(90deg);
    width:100%;
    font-size: 40px;
    color:black;
    text-align: right;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #c1c1c1;
}
@media (max-width:770px){
    #wallet_row_wrapper {
        max-height: 35vh;
   }
    #send_form{
        margin-top:2vh;
        margin-left: 40%;
   }
    .budget_entry_form{
        margin-bottom:5vh;
   }
}
